.required:before
{
    content: "*";
    font-weight: bold;
    color: red; 
}

.text_button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#428bca;
}
